@using Cinema.Models.ViewModels
@model ActorWithMovies
<!-- breadcrumb area start -->
<section class="breadcrumb-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="breadcrumb-area-content">
					@* <h1>Movie Detalied: @Model.Title</h1> *@
				</div>
			</div>
		</div>
	</div>
</section><!-- breadcrumb area end -->

<!-- transformers area start -->
<section class="transformers-area">
	<div class="container">
		<div class="transformers-box">
			<div class="row flexbox-center">
				<div class="col-lg-5 text-lg-left text-center">
					<div class="transformers-content">
						<img src="~/img/cast/avatar/@Model.Actor?.Img" alt="Actor Image" />
					</div>
				</div>
				<div class="col-lg-7">
					<div class="transformers-content mtr-30">
						<h2>@Model.Actor?.Name</h2>
						<a href="#" class="theme-btn">Biography</a>
						<a href="#">Filmography</a>
						<ul>
							<li>
								<div class="transformers-left">
									Height:
								</div>
								<div class="transformers-right">
									5.7”
								</div>
							</li>
							<li>
								<div class="transformers-left">
									Weight:
								</div>
								<div class="transformers-right">
									1136LB
								</div>
							</li>
							<li>
								<div class="transformers-left">
									Eye Color:
								</div>
								<div class="transformers-right">
									Black
								</div>
							</li>
							<li>
								<div class="transformers-left">
									Hair Color: 
								</div>
								<div class="transformers-right">
									Black
								</div>
							</li>
							<li>
								<div class="transformers-left">
									Birthday:
								</div>
								<div class="transformers-right">
									1985.Jun.20
								</div>
							</li>
							<li>
								<div class="transformers-left">
									Language:
								</div>
								<div class="transformers-right">
									English, Russian
								</div>
							</li>
							<li>
								<div class="transformers-left">
									Hobby:
								</div>
								<div class="transformers-right">
									Base Ball, Gaming, Exploring, Baook Reading
								</div>
							</li>
							<li>
								<div class="transformers-left">
									Follow:
								</div>
								<div class="transformers-right">
									<a href="#"><i class="icofont icofont-social-facebook"></i></a>
									<a href="#"><i class="icofont icofont-social-twitter"></i></a>
									<a href="#"><i class="icofont icofont-social-google-plus"></i></a>
									<a href="#"><i class="icofont icofont-youtube-play"></i></a>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section><!-- transformers area end -->

<!-- details area start -->
<section class="details-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="details-content" style="border-bottom: none">
					<div class="details-overview">
						<h2>Actor Details</h2>
						<p>Humans are at war with the Transformers, and Optimus Prime is gone. The key to saving the future lies buried in the secrets of the past and the hidden history of Transformers on Earth. Now it's up to the unlikely alliance of inventor Cade Yeager, Bumblebee, a n English lord and an Oxford professor to save the world. Transformers: The Last Knight has a deeper mythos and bigger spectacle than its predecessors, yet still ends up being mostly hollow and cacophonous. The first "Transformers" movie that could actually be characterized as badass. Which isn't a bad thing. It may, in fact, be better.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- details area end -->

<!-- Actor Movies area start -->
<section class="details-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="details-overview">
					<h2>Actor Movies</h2>

					<div class="row">
						@foreach (var movie in Model.ActorMovies)
						{
							<div class="col-md-4 col-sm-6 mb-4">
								<div class="single-portfolio">
									<div class="single-portfolio-img position-relative">
										@{

											var posterImage = movie.Images.FirstOrDefault(img => img.Type == "poster");
											if (posterImage != null)
											{
												<img src="~/img/posters/@posterImage.Name" alt="Poster Image" class="img-fluid rounded" />
											}
										}

										<a href="@movie.Trailer" class="popup-youtube">
											<i class="icofont icofont-ui-play"></i>
										</a>
									</div>

									<div class="portfolio-content text-center mt-3">
										<h5>
											<a href="/Guest/Home/MovieDetails/@movie.Id" class="text-white">
												@movie.Title
											</a>
										</h5>

										<div class="d-flex justify-content-center align-items-center mt-2">
											<div class="author-review mx-2">
												@{
													double rate = movie.Rate;
													double stars = rate / 2;
													int fullStars = (int)stars;
													bool hasHalfStar = (stars - fullStars) >= 0.5;
													int emptyStars = 5 - fullStars - (hasHalfStar ? 1 : 0);
												}

												@for (int i = 0; i < fullStars; i++)
												{
													<i class="icofont icofont-star" style="color: gold;"></i>
												}

												@if (hasHalfStar)
												{
													<i class="icofont icofont-star" style="background: linear-gradient(90deg, gold 50%, gray 50%); -webkit-background-clip: text; color: transparent;"></i>
												}

												@for (int i = 0; i < emptyStars; i++)
												{
													<i class="icofont icofont-star" style="color: gray;"></i>
												}
											</div>
											<h6 class="m-0">@movie.Rate</h6>
										</div>
									</div>
								</div>
							</div>
						}
					</div>

				</div>
			</div>
		</div>
	</div>
</section>
<!-- Actor Movies area end -->
