@model IEnumerable<Movie>
<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="table-responsive pt-3">
				<table class="table table-striped project-orders-table">
					<thead>
						<tr>
							<th class="ml-5">ID</th>
							<th>Title</th>
							<th>Production Date</th>
							<th>Release Date</th>
							<th>Duration</th>
							<th>Country</th>
							<th>Genres</th>
							<th>Director</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>

						@foreach (var movie in Model)

						{

							<tr>
								<td>@movie.Id</td>
								<td>@movie.Title </td>
								<td>@movie.ProductionDate?.ToString("dd-MMM-yyyy")</td>
								<td>@movie.ReleaseDate?.ToString("dd-MMM-yyyy")</td>
								<td>@movie.Duration</td>
								<td>@movie.Country</td>
								<td>
									@{
										foreach(var genre in movie.Genres)
										{
											<p>@genre.Title</p>
										}
									}
									
								</td>
								<td>@movie.Director.Name</td>
								<td>
									<div class="d-flex align-items-center">
										<a href="/Admin/Movies/Edit/@movie.Id" class="btn btn-success btn-sm btn-icon-text mr-3">
											Edit
											<i class="typcn typcn-edit btn-icon-append"></i>
										</a>

										<a href="javascript:void(0);" onclick="confirmDelete(@movie.Id)" class="btn btn-danger btn-sm btn-icon-text">
											Delete
											<i class="typcn typcn-delete-outline btn-icon-append"></i>
										</a>
									</div>
								</td>
							</tr>

						}


					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>


<!-- Create Floating Button -->
<a id="settings-trigger" href="/Admin/Movies/Create">
	<h5 style="color: aliceblue; vertical-align:central; margin:0px">+</h5>
</a>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

@if (TempData["SuccessMessage"] != null)
{
	<script>
		Swal.fire({
			position: "center",
			icon: "success",
			title: "@TempData["SuccessMessage"]",
			showConfirmButton: false,
			timer: 1500
		});
	</script>
}


<script>
	function confirmDelete(id) {
		Swal.fire({
			title: "Are you sure you want to delete this Movie?",
			text: "You won't be able to revert this!",
			icon: "warning",
			showCancelButton: true,
			confirmButtonColor: "#3085d6",
			cancelButtonColor: "#d33",
			confirmButtonText: "Yes, delete it!"
		}).then((result) => {
			if (result.isConfirmed) {
				// Optional: show a follow-up confirmation

				// Redirect to delete action
				setTimeout(() => {
					window.location.href = `/Admin/Movies/Delete/${id}`;
				}, 1500); // Wait for the alert to finish
			}
		});
	}
</script>

